.Hero{
  display: flex;
  width: 100vw;
  background-color: var(--color-tiles-bg);
  height: calc(100vh - 100px);
}
.right-col{
flex:2;
position: relative;
bottom: 0px;
top: 10px;
}
.left-col{
  display: flex;
  flex-direction: column;
  min-width: 35vw;
  padding: 30px;
}
.left-col p:first-child{
  padding-top: 100px;
color: var(--color-bright-green);
margin-bottom: 15px;
}
.para {
  font-size: 1vw;
  width: 500px;
letter-spacing: 1px;
margin: 20px 0px 30px;
color:var(--color-text-secondary);
}

h1{
  font-size: 5.5vw;
line-height: 1;
margin-bottom: 20px;
}
h1 span {
  font-size: 6.5vw;
  display: flex;
}
.person{
  background-image: url('../../assets/personme.png');
  height: 700px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  right: 10vw;
  z-index: 10;
}

.ring{
  background-image: var(--ring);
  width: 700px;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  right: 5vw;
}
.icon{
  z-index: 5;
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 500;
  width: 95px;
  height: 95px;
 border-radius: 50%;
  background-color: var(--color-icons-bg);
  color: var(--color-bright-green);
  transition: .25s all linear;
  cursor: wait;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}
.icon:hover{
animation: alternate infinite .5s float;

}

.bRight{
  right: 45px;
  top: 450px;
  }
  .bLeft{
top: 450px;
right: 45vw;
  }
  .tRight{
    right: 120px;
    top: 100px;
  }
  .tLeft{
right: 40vw;
top: 100px;
  }

@keyframes float {
  100%{transform: translateY(-10px);}
}


@media screen and (max-width: 1350px) {
  .Hero{
    height: auto;
  }
  .left-col p:first-child{
  color: var(--color-bright-green);
  margin-bottom: 15px;
  }
  .para{
    width: 250px;
  }
.ring{
  width: 500px;
  height: 500px;
}
.person{
  height: 550px;
  width: 390px;
}
.icon{
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
}
.tLeft,.tRight{
  top: 150px;
  }
  .bLeft,.bRight{
  top: 350px;
  }
}

@media screen and (max-width: 965px) {

.ring{
  width: 400px;
  height: 400px;
}
.person{
  width: 300px;
  height:  400px;
}

}

@media screen and (max-width: 600px) {
.burgerMenu{
display: block;
}
.Hero{
display: block;
}
.left-col{
display: grid;
place-items: center;
}
.right-col{
height: 50vh;
display: grid;
place-items: center;
}
.ring{
  position: unset;
  width: 350px;
  height: 350px;
}
.person{
  width: 300px;
  height:  400px;
  margin-right: 10%;
}
.para {
font-size: 0.8rem;
}
.left-col p:first-child{
  padding-top: 0px;
}
h1{
font-size: 2.2rem;
}
h1 span {
font-size: 3.2rem;
}
.icon{
  width: 60px;
  height: 60px;
  font-size: 1.4rem;
}
.bRight{
right: 110px;
top: 10px;
}
.bLeft{
  right: 45px;
  top: 100px;
}
.tRight{
top: 200px;
right: 30px;
}
.tLeft{
top: 300px;
right: 60px;
}

}