.ProjectCard{
width: 550px;
height: 450px;
border-radius: 25px;
background-color: rgba(255, 255, 255, 0.45);
transform: rotate(-10deg);
transition: .25s all;
position: absolute;
}

.ProjectCardInner{
width: 550px;
height: 450px;
background-color: #fff;
background-size: cover;
background-position: center;
border-radius: 25px;
/* position: absolute; */
transform: rotate(-10deg);
transition: .8s all ease;
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.50);

}
#p1{
  background-image: url('../../assets/devmeet.png');
}
#p2{
  background-image: url('../../assets/petme.png');
}
.ProjectCardInner:hover{
cursor: pointer;
animation: alternate infinite .8s float;
}
@keyframes float{
  100%{transform: scale(1.03);}
}
.onReach {
  transition: 1s all;
  transform: rotate(0deg);
}

@media screen and (min-width: 1200px) {

  .ProjectCardInner{
    background-color: red;
  }
      
}
@media only screen and (max-width: 1200px) and (min-width: 800px)  {
  .ProjectCard{
    width: 380px;
    height: 330px;
    }
    
    .ProjectCardInner{
    width: 380px;
    height: 330px;
    }
}
@media only screen and (max-width: 800px) and (min-width: 600.5px)  {
  .ProjectCard{
    width: 360px;
    height: 300px;
    }
    
    .ProjectCardInner{
    width: 360px;
    height: 300px;
    }
}

@media screen and (max-width: 600px) {
  .ProjectCard{
    width: 300px;
    height: 250px;
    border-radius: 25px;
    }
    
    .ProjectCardInner{
    width: 300px;
    height: 250px;
    border-radius: 25px;
    }
    .Projects .para{
      width: 75vw;
      font-size: 3vw;
    }
    .Projects .right-col{
      padding: 0px 50px
    }
}