.SkillCard{
  margin: 15px;
width: 300px;
height: 300px;
background-color: var(--color-tiles-bg);
border-radius: 15px; 
padding: 30px;
display: grid;
place-items: center;
transition: all .25s ease-out;
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
}
.SkillCard:hover{
  background-image: linear-gradient(var(--color-bright-green),var(--color-dark-green));
  box-shadow: 6px 9px 35px 4px #64f4ac70;
  transform: scale(1.01);
  transition: all .3s ease-in !important;
}
.SkillCard:hover .skillIcon{
background-image: linear-gradient(var(--color-bright-green),var(--color-dark-green));
}
.skillIcon{
border-radius: 50%;
width: 100px;
height: 100px;
border: 1px solid var(--color-bright-green);
background-color: var(--color-icons-bg);
display: grid;
place-items: center;
transition: all .3s ease;
font-size: 2rem;
}
.skillTitle{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}
.skillDesc{
letter-spacing: 2px;
text-align: center;
}

@media only screen and (max-width: 1150px) and (min-width: 600.5px)  {
  .SkillCard{
    width: 210px;
    height: 210px;
  }
  .skillIcon{
    width: 60px;
    height: 60px;
    }
    .skillTitle{
      font-size: 1.1rem;
      font-weight: 500;
    }
    .skillDesc{
    letter-spacing: 1.4px;
    font-size: 0.7rem;
    text-align: center;
    }

}