.Skills{
display: flex;
width: 100vw;
overflow-x: hidden;
}

p:first-child{
  padding-top: 100px;
color: var(--color-bright-green);
margin-bottom: 15px;
}
.Skills .para {
font-size: 1.1vw;
width: 100%;
}

.Skills .left-col{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 55vw;
order: 1;
justify-items: center;
}
.SkillCard:nth-child(even){
transform: translateY(30px) !important;
}
.Skills .right-col{
  padding: 50px;
order: 2;
}

@media screen and (max-width: 600px) {
  .Skills{
    display: block;
  }
  .Skills .left-col{
  width: 100vw;
display: flex;
  flex-direction: column;

  }
  .Skills .right-col{
  height: 50vh;
  flex-direction: column;
  }
  p:first-child{
  padding: 0;
  }
  .Skills .para {
  font-size: 3.5vw;
  width: 100%;
  }
  .SkillCard:nth-child(even){
    transform: translateY(0px) !important;
  }
}

